
/node_modules
/napi
/build

/lib

/**/*.d
 
/**/*.slo
/**/*.lo
/**/*.o
/**/*.obj
 
/**/*.gch
/**/*.pch
 
/**/*.so
/**/*.dylib
/**/*.dll
 
/**/*.mod
/**/*.smod
 
/**/*.lai
/**/*.la
/**/*.a
/**/*.lib
 
/**/*.exe
/**/*.out
/**/*.app